<%= bootstrap_form_for(@lowongan) do |f| %>
  <div class="field">
    <%= f.collection_select :jabatan_id, Jabatan.order(:nama_jabatan),
    :id,:nama_jabatan, include_blank: true, label:"Lowongan untuk Posisi" %>
    <%= f.collection_select :pendidikan_id, Pendidikan.order(:level_pend),
    :id,:level_pend, include_blank: true, label:  "Pendidikan Minimal" %>
    <%= f.number_field :limit_umur, in: 20..40, label: "Batas Usia (dalam tahun)"%>
    <%= f.text_area :ket_umum, label: "Keterangan Umum"%>
    <%= f.text_area :deskripsi, label: "Deskripsi Pekerjaan" %>
    <%= f.date_select :max_tgl,:start_year => Time.now.year,
    :end_year => Time.now.year + 5, label: "Tanggal Terakhir Melamar" %>
    <%= f.check_box :posted, label: "Posting" %><br/> 
  </div>
  <div class="actions">
    <%= f.submit "Simpan", class: "btn btn-primary" %>
  </div>
<% end %>