<% provide(:title, "Detail Lowongan") %>
<table class="table table-hover">
  <thead>
    <tr><th ><strong>Detail Lowongan</strong></th></tr>
    <tr><th ><strong><%= @lowongan.jabatan.nama_jabatan %></strong></th></tr>
  </thead>
  <tbody>
  <tr><td>Pendidikan : <%= @lowongan.pendidikan.level_pend %></td></tr>
  <tr><td>Usia Maksimal : <%= @lowongan.limit_umur %> tahun</td></tr>
  <tr><td>Keterangan Umum :</td></tr>
  <tr><td><%= simple_format(@lowongan.ket_umum) %></td></tr>
  <tr><td>Deskripsi Pekerjaan :</td></tr>
  <tr><td><%= simple_format(@lowongan.deskripsi) %></td></tr>
  <tr><td>Dibuka s.d tanggal :<%= @lowongan.max_tgl.strftime("%v") %></td></tr>
</tbody>
</table>
<% if current_user.try(:admin?) %>
<%= link_to 'Edit', edit_lowongan_path(@lowongan), class: "btn btn-primary" %>
</br>
</br>
<table class="table table-hover">
  <thead>
    <tr><th colspan="3"><strong>Daftar Pelamar</strong></th></tr>
    <tr><th>Nama Pelamar</th>
    <th>No. HP</th>
    <th>Sekolah/Universitas</th></tr>
  </thead>
  <tbody>
    <% @pelamars.each do |pelamar| %>
      <% if !pelamar.nil? %>
      <tr><td><%= link_to pelamar.user.profil.nama_lengkap, user_profil_path(:user_id => pelamar.user.id) %></td>
      <td><%=  pelamar.user.profil.no_hp %></td>
      <td><%=  pelamar.user.profil.nama_pend %></td></tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<%= will_paginate @pelamars %>
<% elsif user_signed_in? %>
  <% if Lamaran.where(:user_id => current_user.id).where(:lowongan_id => @lowongan.id).present? %>
    <%= link_to "Sudah dilamar", '#', class: "btn btn-primary disabled" %>
  <% else %>
    <%= form_for @lamaran do |f| %>
    <div><%= hidden_field_tag :user_id, current_user.id %>
    <%= hidden_field_tag :lowongan_id, @lowongan.id %>
    <%= hidden_field_tag :dipanggil, false %></div>
    <%= f.submit "Lamar", class: "btn btn-primary" %>
    <% end %>
  <% end %>
<% else %>
</br>Silakan <%= link_to "Login", new_user_session_path %> untuk bisa melamar lowongan
<% end %>
</br></br><%= link_to 'Kembali ke Daftar Lowongan', lowongans_path, class: "btn btn-primary" %>
