<% provide(:title, "Detail Lowongan") %>
<p>
  <strong>Detail Lowongan</strong></br>
  <strong><%= @lowongan.jabatan.nama_jabatan %></strong></br>
  Pendidikan minimal :<%= @lowongan.pendidikan.level_pend %></br>
  Usia Maksimal :<%= @lowongan.limit_umur %></br>
  Keterangan Umum :</br><%= @lowongan.ket_umum %></br>
  Deskripsi Pekerjaan :</br><%= @lowongan.deskripsi %></br>
  Dibuka s.d tanggal :<%= @lowongan.max_tgl.strftime("%v") %></br>
</p>
<% if current_user.try(:admin?) %>
<%= link_to 'Edit', edit_lowongan_path(@lowongan), class: "btn btn-primary" %> 
<% else %>
<%= link_to 'Lamar', '#', class: "btn btn-primary" %> 
<% end %>

