<%= bootstrap_form_for(@pengumumann) do |f| %>

  <div class="field">
    <%= f.text_field :judul, label: "Judul Pengumuman" %> 
    <%= f.text_area :deskripsi, label: "Isi Pengumuman" %>
    <%= f.date_select :tanggal,{:include_blank => true, 
    :default => nil, :start_year => Date.today.year}, label: "Tanggal"  %>
    <%= f.text_field :tempat, label: "Tempat" %>  
    <%= f.time_select :waktu,{:include_blank => true, :default => nil}, 
    label: "Waktu" %>  
    <%= f.text_area :kelengkapan, label: "Kelengkapan yang harus dibawa" %>
  </div>
  <div class="actions">
    <%= f.submit "Simpan", class: "btn btn-primary" %>
  </div>
<% end %>