<% provide(:title, "Detail Pengumuman") %>
<table class="table table-hover">
  <thead>
    <th colspan="2"><%= @pengumumann.judul %></th>
  </thead>
  <tbody>
  <tr><td colspan="2"><%= simple_format( @pengumumann.deskripsi) %></td></tr>
  
  <% if @pengumumann.tanggal.present? %>
  <tr><td>Tanggal</td>
  <td>: <%= @pengumumann.tanggal.strftime("%v") %></td></tr>
  <% end %>
  
  <% if @pengumumann.tempat.present? %>
  <tr><td>Tempat</td>
  <td>: <%= @pengumumann.tempat %></td></tr>
  <% end %>
  
  <% if @pengumumann.waktu.present? %>
  <% if @pengumumann.waktu != "0001-01-01 00:00:00" %>
  <tr><td>Waktu</td>
  <td>: <%= @pengumumann.waktu.strftime("%H:%M") %></td></tr>
  <% end %>
  <% end %>
  
  <% if @pengumumann.kelengkapan.present? %>
  <tr><td>Kelengkapan</td>
  <td> <%= simple_format(@pengumumann.kelengkapan) %></td></tr>
  <% end %>
  </tbody>
</table>

<% if current_user.try(:admin?) %>
<%= link_to 'Edit', edit_pengumumann_path(@pengumumann), class: "btn btn-primary" %> 
<br/>
<table class="table table-hover">
  <thead>
    <th colspan="3">Daftar Nama</th>
  </thead>
  <tbody>
  <% @terpanggil.each do |terpanggil| %>
    <% if !terpanggil.nil? %>
    <tr><td><%= link_to terpanggil.lamaran.user.nama, 
    user_profil_path(:user_id => terpanggil.lamaran.user.id) %></td>
    <td><%= terpanggil.lamaran.lowongan.jabatan.nama_jabatan %></td>
    <td><%= link_to "Hapus Nama", terpanggil, method: :delete,
    data: { confirm: "Anda yakin menghapus?" }, class: "btn btn-primary" %>
    </td></tr>
  <% end %>
  <% end %>
  </tbody>
</table>
<br/>

<strong>Tambahkan Nama</strong></br>
  <%= form_for @panggilan do |f| %>
  <div class="field">
    Pilih Pelamar yang akan dipanggil :
  <%= f.collection_select :lamaran_id, @lamarans.collect{|x|OpenStruct.new(:lamaran_id => x.id, :desc => "#{x.user.nama} -- #{x.lowongan.jabatan.nama_jabatan}") },
  :lamaran_id, :desc, include_blank: true  %>
  <%= f.hidden_field :pengumumann_id, :value => @pengumumann.id %>
  </div>
  <div class="actions">
  <%= f.submit "Tambahkan ke Daftar", class: "btn btn-primary" %>
  </div>
  <% end %> 
<% else %>
  <% if @terpanggil.first.present? %>
  <table class="table table-hover">
  <thead>
    <th colspan="2">Daftar Nama</th>
  </thead>
  <tbody>
  <% @terpanggil.each do |terpanggil| %>
    <% if !terpanggil.nil? %>
    <tr><td><%= terpanggil.lamaran.user.nama %></td>
    <td><%= terpanggil.lamaran.lowongan.jabatan.nama_jabatan %></td></tr>
    <% end %>
  <tbody>
</table>
<br/>
  <% end %>
  <% end %>
<% end %>
<%= link_to 'Kembali ke Daftar Pengumuman', pengumumanns_path, class: "btn btn-primary" %>


