<%= form_for(@jabatan) do |f| %>
  <% if @jabatan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@jabatan.errors.count, "error") %> membuat perubahan tidak dapat disimpan:</h2>

      <ul>
      <% @jabatan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nama_jabatan %><br>
    <%= f.text_field :nama_jabatan %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
