<p id="notice"><%= notice %></p>

<h1>Daftar Jabatan</h1>
<%= link_to 'Buat Jabatan Baru', new_jabatan_path, class: "btn btn-primary"  %>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Nama jabatan</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jabatans.each do |jabatan| %>
      <tr>
        <td class="col-md-4"><%= jabatan.nama_jabatan %></td>
        <td class="col-md-2"><%= link_to 'Tampilkan', jabatan, class: "btn btn-primary"  %></td>
        <td class="col-md-2"><%= link_to 'Edit', edit_jabatan_path(jabatan), class: "btn btn-primary"  %></td>
        <td class="col-md-2"><%= link_to 'Hapus', jabatan, method: :delete, 
        data: { confirm: 'Anda yakin akan menghapus?' }, class: "btn btn-primary"  %></td>
      </tr>
    <% end %>
  </tbody>
</table>


