<% provide(:title, "Buat Profil") %>
 <%= form_for [@user, @profil], :url => user_profil_path(@user) do |f| %>
<table class="table table-hover">
  <thead>
    <tr>
      <th colspan="2"><h1>Buat Profil Anda</h1></th>
    </tr>
  </thead>
  <tbody>
    <tr><td class="col-md-3"><%= f.label :nama_lengkap %></td>
    <td class="col-md-7"><%= f.text_field :nama_lengkap, 
      placeholder: "Nama lengkap Sesuai KTP/Paspor" %></td></tr>
    <tr><td class="col-md-3"><%= f.label :no_identitas %></td>
    <td class="col-md-7"><%= f.text_field :no_identitas, 
      placeholder: "No. KTP / SIM " %></td></tr>
    <tr><td class="col-md-3"><%= f.label :jenis_kelamin %></td>
    <td class="col-md-7"><%= f.radio_button :jenis_kelamin, false, :value => false %>
                        <%= label :jenis_kelamin, "Laki-laki       " %>
                        <%= f.radio_button :jenis_kelamin, true, :value => true %>
                        <%= label :jenis_kelamin, "Perempuan"%>
                        </td></tr>
    <tr><td class="col-md-3"><%= f.label :alamat %> </td>
    <td class="col-md-7"><%= f.text_area :alamat, 
      placeholder: "Alamat sesuai KTP/SIM" %></td></tr>
    <tr><td class="col-md-3"><%= f.label :no_hp, "No. Telepon/HP" %> </td>
    <td class="col-md-7"><%= f.text_field :no_hp %></td></tr>
    <tr><td class="col-md-3"><%= f.label :tempat_lahir, "Kota Kelahiran" %> </td>
    <td class="col-md-7"><%= f.text_field :tempat_lahir, 
      placeholder: "Kota tempat kelahiran " %></td></tr>
    <tr><td class="col-md-3"><%= f.label :tgl_lahir %> </td>
    <td class="col-md-7"><%= f.date_select :tgl_lahir, 
      :start_year => Time.now.year - 50, :end_year => Time.now.year  %></td></tr>
    <tr><td class="col-md-3"><%= f.label :pendidikan_id, "Pendidikan Terakhir" %> </td>
    <td class="col-md-7"><%= f.collection_select :pendidikan_id, 
        Pendidikan.order(:level_pend),:id,:level_pend, include_blank: true  %></td></tr>
    <tr><td class="col-md-3"><%= f.label :nama_pend, "Nama Institusi Pendidikan"  %> 
    <td class="col-md-7"><%= f.text_field :nama_pend, 
      placeholder: "Nama Sekolah/Universitas"%></td></tr>
    <tr><td class="col-md-3"><%= f.label :jurusan %> </td>
    <td class="col-md-7"><%= f.text_field :jurusan %></td></tr>
    <tr><td class="col-md-3"><%= f.label :nilai, "Nilai IPK/UAN" %> </td>
    <td class="col-md-7"><%= f.text_field :nilai, 
      placeholder: "Nilai UAN atau IPK" %></td></tr>
    </tbody>
</table>  

  <div class="actions">
    <%= f.submit "Simpan", class: "btn btn-primary" %>
  </div>
<% end %>