<p><%= t('.greeting', :recipient => @resource.email, :default => "Halo #{@resource.email}!") %></p>

<p><%= t('.instruction', :default => "Ada yang meminta untuk mengganti password Anda, jika benar klik link di bawah ini.") %></p>

<p><%= link_to t('.action', :default => "Ganti password"), edit_password_url(@resource, :reset_password_token => @token, locale: I18n.locale) %></p>

<p><%= t('.instruction_2', :default => "Abaikan email ini, jika bukan Anda.") %></p>
<p><%= t('.instruction_3', :default => "Password tidak akan berubah.") %></p>
