<header class="navbar navbar-fixed-top navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
    <%= link_to image_tag("carfix-logo.png", alt: "CARfix Karir"), root_path, id:"logo"  %>
    <button type="button" class="btn navbar-toggle" data-toggle="collapse" 
    data-target=".navbar-collapse" >
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
    </button>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right" >
        <li><%= link_to "Beranda", root_path  %></li>
        <li><%= link_to "Tentang CARfix", tentang_path %></li>
        <li><%= link_to "Lowongan", '#' %></li>
        <li><%= link_to "Pengumuman", '#' %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Akun <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <% if current_user.try(:admin?) %>
                <li><%= link_to 'Daftar User', users_path %> </li>
                <li><%= link_to 'Daftar Pendidikan', pendidikans_path %> </li>
                <li><%= link_to 'Daftar Jabatan', jabatans_path %> </li>
                <li class="divider"></li>
              <% end %>
              <% if user_signed_in? %>
                <li><%= link_to 'Profil', user_profil_path(current_user) %> </li>
                <li class="divider"></li>
                <li><%= link_to 'Ganti Password', edit_user_registration_path %></li>
                <li class="divider"></li>
                <li><%= link_to 'Log out', destroy_user_session_path , method: :delete %></li>
              <% else %>
                <li><%= link_to "Log in", new_user_session_path %></li>
              <% end %>
            </ul>
    </div>
  </div>
</header>
